  <form class="example-form" (ngSubmit)="submitForm()">
    <h1>Add todos:</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Title:</mat-label>
      <input [(ngModel)]="todo.title" name="title" matInput placeholder="" >
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Description:</mat-label>
      <textarea [(ngModel)]="todo.description" name="description" matInput placeholder=""></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">Add</button>
  </form>

  <mat-card class="todos" *ngFor="let todo of todos$ | async">
    <mat-card-content>title: {{todo.title}}</mat-card-content>
    <mat-card-content>description: {{todo.description}}</mat-card-content><br><br>
    <button class="editBtn" mat-raised-button color="primary" (click)="openDialog(todo)">Edit</button>
    <button (click)="deleteTodo(todo.id)" mat-raised-button color="warn">Delete</button>
  </mat-card>

  

 